* {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    overscroll-behavior: none;
    box-sizing: border-box;
}

/* Iosevka */
@font-face {
    font-family: 'Iosevka';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff2) format('woff2'), url(https://cdm.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff) format('woff');
}

/* iosevka-latin-700-normal */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-700-normal.woff) format('woff');
}

/* inter-latin-wght-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* space-mono-latin-400-normal */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/space-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/space-mono@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* mansalva-latin-400-normal */
@font-face {
  font-family: 'Mansalva';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/mansalva@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/mansalva@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* silkscreen-latin-400-normal */
@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/silkscreen@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/silkscreen@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* silkscreen-latin-700-normal */
@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/silkscreen@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/silkscreen@latest/latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
    --padding: 8px;
    --border-radius: 8px;
    --outer-border-radius: calc(2 * var(--padding));
    --bg-colour: oklch(1 0.0 0);
    --main-colour: oklch(0.5117 0.2723 268.73);
    --sub-colour: oklch(0.7635 0.1313 268.73);
    /* --bg-colour: #0a0d0f; */
    --bg-lighter: var(--bg-colour);
    /* --bg-lighter: #1a1d1f; */
    --gap: 8px;
    --text-colour: var(--main-colour);
    --hover-scale: 1.05;
    /* --inset-colour: rgba(75, 75, 75, 0.5); */
    --inset-colour: var(--bg-colour);
    --subtext-colour: rgba(75,75,75,1.0);
    /* color: var(--text-colour); */
    color: var(--border-colour);
    --border-width: 2px;
    --border-colour: var(--main-colour);
    --border: solid var(--border-width) var(--border-colour);
}

/* .app { */
/*     display: flex; */
/*     align-items: center; */
/*     justify-content: center; */
/*     height: calc(100dvh - 2 * var(--padding)); */
/*     width: (100dvw - 2 * var(--padding)); */
/*     padding: var(--padding); */
/*     background-image: linear-gradient(to bottom right, var(--bg-colour), var(--bg-lighter)); */
/*     box-shadow: inset 0px 0px 5px 0px white; */
/* } */

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100dvh - 2 * var(--padding));
    width: (100dvw - 2 * var(--padding));
    padding: var(--padding);
    background-color: var(--bg-colour);
    /* box-shadow: inset 0px 0px 5px 0px white; */
}

/* .card { */
/*     background-color: var(--bg-colour); */
/*     padding: calc(var(--padding) * 2); */
/*     /* min-height: 100px; */ 
/*     /* min-width: 100px; */
/*     border-radius: var(--border-radius); */
/*     box-shadow: 0px 0px 20px -10px rgba(0,0,0,1.0), inset 0px 0px 20px 0px var(--inset-colour); */
/*     font-family: Iosevka; */
/*     overflow: auto; */
/* } */

.card {
    background-color: var(--bg-colour);
    padding: calc(var(--padding) * 2);
    /* min-height: 100px; */
    /* min-width: 100px; */
    /* border-radius: var(--border-radius); */
    font-family: Iosevka;
    overflow: auto;
    border: solid var(--border-width) var(--border-colour);
}

.svg {
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card > svg {
    width: 100%;
    height: 100%;
    grid-column: span 1 / span 2;
}

.card > :not(:last-child) {
    --spacing-reverse: 0;
    --spacing: 16px;
    margin-block-start: calc(var(--spacing) * var(--spacing-reverse));
    margin-block-end: calc(var(--spacing) * (1 - var(--spacing-reverse)));
}

.central-header {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.fade-in.show {
    opacity: 1;
}

.header {
    font-size: 3rem;
    text-align: center;
}

@media (width >= 480px) {
    .header {
        font-size: 5rem;
    }

    .bento-box {
        max-width: 90dvw !important;
        max-height: 90dvh !important;
    }

}

.sub-heading {
    font-family: Iosevka;
    font-size: 48px;
    font-weight: bold;
    text-wrap: balance;
}

.personal-links {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    height: 10px;
    width: 100%;
}

.tag-heading {
    font-family: 'Space Mono';
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

/* .tag { */
/*     font-family: 'Inter Variable'; */
/*     background-color: var(--bg-colour); */
/*     padding: calc(var(--padding)); */
/*     border-radius: var(--border-radius); */
/*     box-shadow: 0px 0px 20px -10px rgba(0,0,0,1.0), inset 0px 0px 10px 0px var(--inset-colour); */
/* } */

.tag {
    font-family: Iosevka;
    background-color: var(--bg-colour);
    padding: calc(var(--padding));
    /* border-radius: var(--border-radius); */
    border: var(--border);
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.col-span-4 {
    grid-column: span 4 / span 4;
}

.col-span-8 {
    grid-column: span 8 / span 8;
}

.row-span-2 {
    grid-row: span 2 / span 2;
}

.row-span-4 {
    grid-row: span 4 / span 4;
}

.row-span-8 {
    grid-row: span 8 / span 8;
}

.bento-box {
    max-width: 80dvh;
    max-height: 80dvh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: calc(var(--gap) * 2);
    margin: var(--padding);
}

.profile {
    font-family: 'Iosevka';
}

.profile-picture-container {
    border-radius: calc(var(--border-radius) * 2.5);
    background-color: var(--main-colour);
    align-items: center;
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.profile-picture {
    min-width: 72px;
    min-height: 72px;
    max-width: 72px;
    max-height: 72px;
    border-radius: calc(var(--border-radius) * 3);
    background-color: #2a2b2c;
}

.profile-alias {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.profile-names {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    text-decoration: underline 2px;
}

.profile-body {
    font-family: Mansalva;
    font-weight: 700;
}

.profile-footer {
    display: flex;
    font-size: 0.75rem;
    flex-direction: row;
    justify-content: space-between;
    font-family: Silkscreen;
    color: var(--sub-colour);
}

@keyframes pulse {
    0% { opacity: 0; }
    25%, 75% { opacity: 1; }
    100% { opacity: 0; }
}

.pulse {
    font-family: Iosevka;
    animation-name: pulse;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.built-with-container {
    grid-column: span 4 / span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--gap);
}

.button-link {
    background: none;
    color: inherit;
    border: var(--border);
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: all 250ms;
}

.button-link:hover {
    transform: scale(var(--hover-scale));
    transition: all 0ms;
}

@keyframes translate-up {
    0% {
        transform: translateY(100dvh);
    }
    100% {
        transform: translateY(0%);
    }
}

.translate-up {
    transform: translateY(100dvh);
    animation: translate-up 2s cubic-bezier(.37,1.22,.58,1) forwards;
}

.glowy-border {
    --glow-padding: .20;
    position: relative;
    transform: scale(105%);
    background-color: red;
    padding: calc(var(--padding) * var(--glow-padding));
    /* border-radius: calc(var(--border-radius) + (var(--padding) * var(--glow-padding))); */
    background-image: conic-gradient(red, blue, green, red);
}

.graph-container {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
}

.graph-container > canvas {
    border: solid var(--border-width) var(--main-colour);
    width: 100%;
    height: 100%;
}

.svg-graph-container {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
}

.svg-graph-container > svg {
    border: solid var(--border-width) var(--main-colour);
    width: 100%;
    height: 100%;
}
